/*Boton volver al inicio*/
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 60%;
    background: #141c38;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
  }
  
  .back-to-top:hover {
    opacity: 0.6;
  }
  
  .hidden {
    opacity: 0%;
  }
  
  .back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #7ac9f9;
  }
