body{
	background-image: url(../imagenes/fondo.jpg);
	font-family: Times New Roman;
	width: 100%;
}

.imagen{
	margin-bottom: 1.5vw;
	height: 15vw;
}
.imagen2{
	float: right;
	margin-bottom: 1.5vw;
	height: 15vw;
}
.parrafo{
	text-align: left;
}
.una{
	display: flex;
	justify-content: center;
}
#videos{
	text-align: center;
}
#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10, #d11, #d12, #d13, #d14{
    margin: 0.1em;
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: medium;
    width: 49%;
    box-sizing: border-box;
    border-radius: 1em;
    text-align: center;
    border: 0.2em solid black;
    padding: 0.5em;
    background-color: #FCB76D;  
}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14{
    display:none;
    text-align: left;
    background-color: #FCB76D; 
}
#d{
   margin: 0.1vw;
   width: 98.3%;
    margin-bottom: 0.5vw;
    display: inline-block;
    font-size: medium;
    box-sizing: border-box;
    text-align: center;
    border: 0.25vw solid black;
    padding: 0.5vw;
    background-color: #FCB76D;   
}
#divv{
    display:none;
    text-align: left;
    background-color: #FCB76D; 
}
/*Secciones interesantes carrera deportiva*/
.seccionInteresante:hover{
    font-size: 1.1em;
    opacity: .8;
}

/*contenedor de las dos secciones*/
main{
    margin: 10vw auto 5vw;
    display: flex;
    align-items: center;
}
.section1{
    background-color: #FCA84F ;
    padding: 0 1vw 1vw 1vw;
    border-radius: 0.8vw;
}
table {
    text-align: center;
    margin: 0 auto;
}
.jueguito{
    background-color: #fff;
    height: 8vw;
    width: 8vw;
}

img:hover{
    cursor: pointer;
}